footer
{
    margin-top: 15px;
 width: 100% !important;
    background: var(--primary-blue, #1778C2);
   

padding: 10px ;

}
footer p 
{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}
@media (max-width: 480px)
{
        footer
    {
    
    

    padding: 6px ;

    }
    footer p 
    {
    
        font-size: 13px;
        font-style: normal;
    
    }
}