.students-list
{
  // min-height: 100vh; /*  to solve the hiden content under footer*/

}
.mycontainer
{
    width: 90%;
    margin: auto;

}
header h4
{
    color: var(--primary-blue, #1778C2);
text-align: right;
font-family: Cairo;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.search-bar
{
    display: flex;
width: 400px;
height: 50px;
padding: 10px 16px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--placeholder, #7F7C7E);

}
.search-bar input 
{
    color: var(--placeholder, #7F7C7E);
text-align: right;
font-family: Cairo;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
outline: none;
border: none;
}
.search-bar img 
{
    width: 24px;
height: 24px;
cursor: pointer;
}
.program-header img 
{
    width: 32px;
    margin-left: 9px;
height: 32px;
}





.studentsReq
{

}
.table-container
{
    width: 80%;
 
}
.table
{
    width: 100%;
    background-color: blue;
}
.table-header
{
//   background-color: var( --secondrygreen-color);
//   padding: 15px 10px;
//   border-radius: 10px;
//   color: white;
//   text-transform: capitalize;
border-top: 1.094px solid var(--white, #FFF);
border-bottom: 1.094px solid var(--white, #FFF);
border-left: 1.094px solid var(--white, #FFF);
background: var(--primary-blue, #1778C2);
color: var(--white, #FFF);
font-family: Almarai;
font-size: 21.873px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


tr
{
    cursor: pointer;
}

table td 
{
 
  max-width: 250px;
  border-top: 1.094px solid var(--font-color, #212529);
border-bottom: 1.094px solid var(--font-color, #212529);
border-left: 1.094px solid var(--font-color, #212529);
background: var(--background, #F2F2F2);
padding: 10.937px;
transition: .4s all;

}
tbody tr:hover td
{
    
  background-color: white;
}
/* Styles for screen sizes up to 768px */
@media (max-width: 768px) {
    .mycontainer {
      width: 98%; /* Adjust the container width for smaller screens */
    }
  
    header h4 {
      font-size: 28px; /* Decrease the font size for smaller screens */
    }
  
    .search-bar {
        width: 100%;
        max-width: 250px;
        margin-top: 16px;
    }
    .search-bar input {
      font-size: 14px; /* Decrease the font size for smaller screens */
    }

      /* Adjust table styles for better readability on small screens */
      .table td {
        padding: 8px;
      }
     .table-container
     {
      overflow-x: auto;
     }
     .table-container
        {
            width: 100%;
        
        }
      .table
      {
          min-width: 700px; /* Set a minimum width for the table */
  
      }
  
      .table-header
      {
     
  
      font-size: 18px;
     
      }
  
  
  
      table td 
      {
      max-width: auto;
  
      padding: 8.937px;
      font-size: 12px !important;
      }
  }
  


  /* Styles for screen sizes up to 480px */
@media (max-width: 480px) {
    .mycontainer {
      width: 99%; /* Adjust the container width for smaller screens */
    }
    header
    {
        padding: 10px;
        flex-wrap: wrap;
    }
    header h4 {
      font-size: 24px; /* Decrease the font size for smaller screens */
    }
  
    .search-bar {
      width: 100%; /* Make the search bar full width for smaller screens */
      margin-top: 10px; /* Add some spacing */
    }
  
    .search-bar input {
      font-size: 12px; /* Decrease the font size for smaller screens */
    }
    
    /* Adjust table styles for better readability on small screens */
    .table td {
      padding: 8px;
    }
   .table-container
   {
    overflow-x: auto;
   }
    .table
    {
        min-width: 500px; /* Set a minimum width for the table */

    }

    .table-header
    {
   

    font-size: 18px;
   
    }



    table td 
    {
    max-width: auto;

    padding: 8.937px;
    font-size: 12px !important;
    }
  }


  