
 <div class="categories">
    <div class="mycontainer">

        <div class="add-diploma d-flex justify-content-start align-items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="#0A4674"/>
              </svg>

              <h4 class="header-style mr-3" [routerLink]="['/master', 'college']">إضافة كليه جديدة </h4>
        </div>



        <div class="add-employee d-flex justify-content-start align-items-center mt-5 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="#0A4674"/>
              </svg>

              <h4 class="header-style mr-3" [routerLink]="['/master', 'admins']">إضافة مسؤول جديد</h4>
        </div>



       

    </div>
</div>