
.loading
{
 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mycontainer
{
    width: 90%;
    margin: auto;
}

.program-header
{
    gap: 8px;
}
.program-header img 
{
    width: 32px;
    height: 32px;
}
.program-header h4 
{
    color: var(--primary-blue, #1778C2);
    text-align: right;
    font-family: Cairo;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

 h5
{
    color: var(--font-color, #212529);
text-align: right;
font-family: inherit;
font-size: 24px;

margin-top: 32px;
font-weight: 500;

}
.program-content .program-info p 
{
    color: var(--font-color, #212529);
text-align: right;
font-family: Cairo;
font-size: 18px;
font-style: normal;
font-weight: 400;

line-height: 30px;
}

.program-content .requirements,.program-content .program-fees,.program-content .program-duration
{
    margin-top: 25px;
}

.program-content .requirements ul li, .program-content .program-fees ul li, .program-content .program-duration  ul li
{
    color: var(--font-color, #212529);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addFile
{
    border-radius: 10px;
    background: var(--primary-blue, #1778C2);
    padding: 10px 25px !important;
    color: white;
}
.deleteFile
{
    border-radius: 10px;
    background:#dc3545;
    padding: 10px 25px !important;
    color: white;
}
.add-btn
{
    background: var(--Primary-Blue, #1778C2);
    color: var(--White, #FFF);
 
}
.close-btn
{
    border: 1px solid var(--Red, #CD5858);
    color: var(--Red, #CD5858);
    background-color: transparent;
}
.form-content header
{
    color: var(--DarkBlue, #001D4B);
    text-align: right;
    font-family: Cairo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
@media (max-width: 480px) {

    .program-header h4 {
        font-size: 20px;
    }

    .program-content .program-info h5,
    .program-content .requirements h5,
    .program-content .program-fees h5,
    .program-content .program-duration h5 {
        font-size: 18px;
    }

    .program-content .program-info p,
    .program-content .requirements ul li,
    .program-content .program-fees ul li,
    .program-content .program-duration ul li {
        font-size: 14px;
    }

    .program-content .program-duration .register button {
        padding: 6px 14px !important;
    }
   
}
@media (max-width: 767px) {
    .program-header h4 {
        font-size: 24px;
    }

    .program-content .program-info h5,
    .program-content .requirements h5,
    .program-content .program-fees h5,
    .program-content .program-duration h5 {
        font-size: 20px;
        margin-top: 20px;
    }

    .program-content .program-info p,
    .program-content .requirements ul li,
    .program-content .program-fees ul li,
    .program-content .program-duration ul li {
        font-size: 14px;
    }

    .program-content .program-duration .register button {
        padding: 6px 16px !important;
    }



}


/* Media query for screens between 769px and 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .mycontainer {
        width: 90%;
        margin: auto;
        padding: 0 16px;
    }

    .program-header h4 {
        font-size: 32px;
    }

    .program-content .program-info h5,
    .program-content .requirements h5,
    .program-content .program-duration h5 {
        font-size: 20px;
        margin-top: 20px;
    }

    .program-content .program-info p,
    .program-content .requirements ul li,
    .program-content .program-fees ul li,
    .program-content .program-duration ul li {
        font-size: 16px;
    }

    .program-content .program-duration .register button {
        padding: 8px 20px !important;
    }
}

