app-footer
{
 position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
width: 100% !important;


}
@media (max-width: 480px) 
{
    // app-footer
    // {
    //     margin-top: 500px;
    // }
    // router-outlet {
    //     /* Remove padding to prevent content from going under the footer */
    //     padding-bottom: 60px;
    // }
}