<!-- start home for admin-->



<!-- <div class="categories">
    <div class="mycontainer">

        <div class="add-diploma d-flex justify-content-start align-items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="#0A4674"/>
              </svg>

              <h4 class="header-style mr-3">إضافة برنامج دبلومة جديدة</h4>
        </div>



        <div class="add-employee d-flex justify-content-start align-items-center mt-5 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="#0A4674"/>
              </svg>

              <h4 class="header-style mr-3">إضافة موظف جديد</h4>
        </div>



        <div class="add-lecturer d-flex justify-content-start align-items-center mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="#0A4674"/>
              </svg>

              <h4 class="header-style mr-3">إضافة محاضر جديد</h4>
        </div>

    </div>
</div>
 -->












<!--end home for admin-->










<!--start add diplomaaaa-->



<div class="diplomas mt-4">
    <div class="mycontainer">

       <div class="icons d-flex justify-content-start">
            <div class="reactangle-icon-shape home">
                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 59 59" fill="none">
                    <path d="M46.708 51.6255H12.2913C11.6394 51.6255 11.0141 51.3665 10.553 50.9054C10.092 50.4444 9.83301 49.8191 9.83301 49.1671V27.0421H2.45801L27.8452 3.96329C28.2978 3.55146 28.8878 3.32324 29.4997 3.32324C30.1116 3.32324 30.7015 3.55146 31.1541 3.96329L56.5413 27.0421H49.1663V49.1671C49.1663 49.8191 48.9073 50.4444 48.4463 50.9054C47.9853 51.3665 47.36 51.6255 46.708 51.6255ZM31.958 46.7088H44.2497V22.5114L29.4997 9.10366L14.7497 22.5114V46.7088H27.0413V31.9588H31.958V46.7088Z" fill="white"/>
                </svg>
            </div>

            <div class="reactangle-icon-shape mr-4 add" data-toggle="modal" data-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 66 73" fill="none">
                    <path d="M30.25 33.458V15.208H35.75V33.458H52.25V39.5413H35.75V57.7913H30.25V39.5413H13.75V33.458H30.25Z" fill="white"/>
                </svg>
            </div>

            <div class="reactangle-icon-shape mr-4 delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 45 50" fill="none">
                    <path d="M31.875 12.5003H41.25V16.667H37.5V43.7503C37.5 44.3029 37.3025 44.8328 36.9508 45.2235C36.5992 45.6142 36.1223 45.8337 35.625 45.8337H9.375C8.87772 45.8337 8.40081 45.6142 8.04918 45.2235C7.69754 44.8328 7.5 44.3029 7.5 43.7503V16.667H3.75V12.5003H13.125V6.25033C13.125 5.69779 13.3225 5.16789 13.6742 4.77719C14.0258 4.38649 14.5027 4.16699 15 4.16699H30C30.4973 4.16699 30.9742 4.38649 31.3258 4.77719C31.6775 5.16789 31.875 5.69779 31.875 6.25033V12.5003ZM16.875 22.917V35.417H20.625V22.917H16.875ZM24.375 22.917V35.417H28.125V22.917H24.375ZM16.875 8.33366V12.5003H28.125V8.33366H16.875Z" fill="white"/>
                </svg>
            </div>
       </div>



       <div class="row mt-5">

        



            <div class="diploma  col-md-4 mt-4 ">
                <div class="rectangle-diploma-shape">
                    <h5>دبلومة إدارة الاعمال</h5>
                    <h6>كليه تجاره</h6>
                    <div class="date mt-3">1/9/2023 - 30/9/2023</div>
                    <div class="price mt-2">  الرسوم الدراسيه : 1000 جنيها</div>
                </div>

            </div>


            <div class="diploma  col-md-4 mt-4 ">
                <div class="rectangle-diploma-shape">
                    <h5>دبلومة إدارة الاعمال</h5>
                    <h6>كليه تجاره</h6>
                    <div class="date mt-3">1/9/2023 - 30/9/2023</div>
                    <div class="price mt-2">  الرسوم الدراسيه : 1000 جنيها</div>
                </div>

            </div>




            <div class="diploma  col-md-4 mt-4 ">
                <div class="rectangle-diploma-shape">
                    <h5>دبلومة إدارة الاعمال</h5>
                    <h6>كليه تجاره</h6>
                    <div class="date mt-3">1/9/2023 - 30/9/2023</div>
                    <div class="price mt-2">  الرسوم الدراسيه : 1000 جنيها</div>
                </div>

            </div>


            <div class="diploma  col-md-4 mt-4 ">
                <div class="rectangle-diploma-shape">
                    <h5>دبلومة إدارة الاعمال</h5>
                    <h6>كليه تجاره</h6>
                    <div class="date mt-3">1/9/2023 - 30/9/2023</div>
                    <div class="price mt-2">  الرسوم الدراسيه : 1000 جنيها</div>
                </div>

            </div>




            <div class="diploma  col-md-4 mt-4 ">
                <div class="rectangle-diploma-shape">
                    <h5>دبلومة إدارة الاعمال</h5>
                    <h6>كليه تجاره</h6>
                    <div class="date mt-3">1/9/2023 - 30/9/2023</div>
                    <div class="price mt-2">  الرسوم الدراسيه : 1000 جنيها</div>
                </div>

            </div>









       </div>

    </div>
</div>






  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-arabic  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">اضافه دبلومه</h5>
         

          <div data-dismiss="modal" aria-label="Close" style="font-size: 25px; cursor: pointer;">x</div>

        </div>



        <div class="modal-body p-5">

            <form class="form-content mt-4" [formGroup]="addDiploma" (ngSubmit)="onSubmit()">

                <div class="row d-flex align-items-center">
                    <header class="col-lg-3  ">اسم الدبلومة </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="text" class="form-control" formControlName="diplomaName">
                       
                    </div>
                </div>
    
    
                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3 ">الكليه الخاصه بالدبلومه </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="text" class="form-control">
                       
                    </div>
                </div>


                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3  "> تاريخ بدايه التقديم </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="text" class="form-control">
                       
                    </div>
                </div>


                
                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3  "> تاريخ نهايه التقديم </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="text" class="form-control">
                       
                    </div>
                </div>
    


                      
                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3  "> الرسوم الدراسية   </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="number" class="form-control">
                       
                    </div>
                </div>



                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3  "> مقدمة عن الدبلومة  </header>
                    
                    <div class="col-lg-8">
                       
                            <textarea  class="form-control" rows="4"></textarea>
                       
                    </div>
                </div>



                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3 "> متطلبات القبول بالدبلومة </header>
                    
                    <div class="col-lg-8">
                       
                            <textarea  class="form-control" rows="4"></textarea>
                       
                    </div>
                </div>
    
    
    
   
              
                <div class="row d-flex align-items-center mt-3">
                    <header class="col-lg-3  "> مدة الدبلومة   </header>
                    
                    <div class="col-lg-5">
                       
                            <input type="text" class="form-control">
                       
                    </div>
                </div>
    
    
    
    
    
    
  
    
    
    
          
    
                
            </form>
         
        </div>




        <div class="modal-footer" style="direction: rtl;">
            <button type="submit" class="btn add-btn  ml-3">اضافه</button>
          <button type="button" class="btn close-btn" data-dismiss="modal">اغلاق</button>
       

          

          


        </div>
      </div>
    </div>
  </div>






<!--end add diplomaaaa-->