<div class="all ">
    <div class="application text-center pt-5">
        <h4 class="mb-4">معلومات الحساب</h4>
    
   


        <form class="d-flex align-items-center flex-column" >

            <div class="input-container">
                <input type="text" class="form-control" placeholder="اسم المستخدم">
            </div>

            <div class="input-container">
                <input type="number" class="form-control" placeholder="ارقم القومي">
            </div>


            <div class="input-container">
               
                <select id="college" class="form-control">
                  <option selected>تجاره</option>
                  <option>اداب </option>
                </select>
              </div>


            <div class="input-container">
                <input type="password" class="form-control" placeholder="كلمه المرور">
            </div>

            <div class="input-container">
                <input type="password" class="form-control" placeholder="تاكيد كلمه المرور">
            </div>
        
        
      
            <div class="input-container d-flex justify-content-between align-items-center p-5">
                <button class=" delete-acc mt-4" type="submit">حذف الحساب</button>
                <button class=" save mt-4" type="submit">حفظ</button>
            </div>
         
        </form>
        
    



       
    </div>
</div>