<div class="all ">
    <div class="application text-center pt-5">
        <h4 class="mb-4">معلومات الحساب</h4>
    
   
        <div *ngIf="!profileLoaded">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form class="d-flex align-items-center flex-column" *ngIf="profileLoaded" >

          

            <!-- <div class="input-container">
                <input type="text" class="form-control" placeholder="اسم المستخدم">
            </div> -->

            <div class="input-container">
                <input type="text" class="form-control" [value]="profileData.data.master.name" disabled>
            </div>


            
            <div class="input-container mt-4">
                <input type="email" class="form-control" [value]="profileData.data.master.email" disabled>
            </div>

            <!-- <div class="input-container  mt-4">
                <input type="number" class="form-control" placeholder="ارقم القومي">
            </div>


            <div class="input-container">
               
                <select id="college" class="form-control">
                  <option selected>تجاره</option>
                  <option>اداب </option>
                </select>
              </div>


            <div class="input-container">
                <input type="password" class="form-control" placeholder="كلمه المرور">
            </div>

            <div class="input-container">
                <input type="password" class="form-control" placeholder="تاكيد كلمه المرور">
            </div>
        
         -->
      
            <div class="input-container d-flex justify-content-between align-items-center p-5">
                <button class=" delete-acc mt-4" type="button" disabled>حذف الحساب</button>
                <button class=" save mt-4" type="button" disabled>حفظ</button>
            </div>
         
        </form>
        
    



       
    </div>
</div>