.background-img {
    
    img{
        background-size: cover;
        background-size: contain;
        width: 100%;
        height: 80vh;  
        
        
    }

}

.bage-content{
    position: absolute;
     top: 45%; 
     left: 50%;
      transform: translate(-50%, -50%);
       text-align: center;
       
}
.bage-content p{
    font-size: 15px;
     color: white;
     
}
.fa-angle-down{
    color: #ffffff;
     position: absolute;
    bottom: 80px;
    left: 50%;
     transform:
     translateX(-50%); 
    animation: animate 1s linear infinite;
}

.main-title h1{
    font-style: Cairo;
    font-size: 40px;
    color: #1778C2;
}
.title h3{
    color: #212529;
    font-weight: 500px;
    font-size: 20px;
}
.title p{
    color: #7F7C7E;
    font-size: 14px;
}

.border{
    height: 95px;
    width: 5px;
    background-color: #7F7C7E;
    
}
.last span{
   font-size: 16px; 
   font-weight: 400;
}
.last b{
    font-size: 24px;
    font-weight: 500;
}
.logo-circle{
    background: white;
    width: 250.7px;
    height: 250.7px;
    border-radius: 50%;
    box-shadow: 4px 4px 24px 0px rgba(43, 85, 148, 0.25);
}

.logo-circle img{
    width: 150.7px;
    height: 150.7px;
}
@keyframes animate {
    0%{
        transform: translateY(-50px);
        text-shadow: 0 50px 0 #fff;
    }
    20%{
        transform: translateY(0);
        text-shadow: 0 10px 0 #fff;
    }
    40%{
        transform: translateY(0);
        text-shadow: 0 -10px 0 #fff;
    }
    60%{
        transform: translateY(0);
        text-shadow: 0 0px 0 #fff;
    }
    100%{
        transform: translateY(80px);
        text-shadow: 0 -50px 0 #fff;
    }
    
}


.btn-style
{
    width: 163px;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    background: var(--Primary-Blue, #1778C2);
    color: #FFF;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}