<div class="pb-5">
    <div style="position: relative;">
        <div class="background-img">
            <img [src]="image" alt="">
        </div>
    
        <div class="bage-content" style=" position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <h1 style="font-size: 35px; color: white;" >
                منصة التقديم الإلكتروني على <span style="color: #1778C2;">الدبلومات</span> للخريجين في جامعة كفر الشيخ.
            </h1>
            <p class="">
                مرحبًا بك في منصة التقديم الإلكتروني للدبلومات. نحن هنا لنسهِّل عليك الخطوات<br>المطلوبة للحصول على فرصة دراسية في مجالات متنوعة .
            </p>
        </div>
        
        <i class="fa-solid fa-angle-down fa-2xl" ></i>
    </div>
    
    
    
    <div class="container pb-5">
        <div class="main-title">
            <h1 style="text-align: center;">ما نقدمه</h1>
        </div>
        <div class="row pt-2 ">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="title text-center">
                    <h3 >سهولة التقديم</h3>
                    <p> توفير عملية تقديم سلسة وبسيطة تمكنك من إكمال إجراءات التقديم بسهولة تامة من أي مكان تفضله.</p>
                </div>
                <div class="border"></div>
            </div>
            
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <div class="title text-center">
                    <h3>معلومات شاملة</h3>
                    <p> نقدم لك معلومات مفصلة حول البرامج المتاحة، المتطلبات، المواعيد الهامة والتفاصيل الأخرى التي تحتاجها لاتخاذ قرار دراستك بشكل مستنير.</p>
                </div>
                <div class="border"></div>
            </div>
            
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <div class="title text-center">
                    <h3>متابعة حالة الطلب </h3>
                    <p> تيح لك منصتنا متابعة حالة طلبك ومعرفة نتائج القبول بشكل سريع وموثوق.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="last container pb-5 pt-5" >
        <h3 style="font-weight: 500; color: #1778C2;">كيف يعمل الموقع</h3>
        
            <form  style="display: flex; flex-direction: column;" >
                <b class="py-1">1. استعراض البرامج : <span>استكشاف قائمة البرامج والدبلومات المتاحة في مختلف الكليات بجامعة كفر الشيخ. </span></b> 
                <b class="py-1">2. التسجيل وتقديم الطلب : <span>قم بإنشاء حساب شخصي واملأ طلب القبول الإلكتروني بالمعلومات المطلوبة.</span></b> 
                <b class="py-1">3. تحميل المستندات : <span>قد تحتاج إلى تحميل وثائق هامة مثل الشهادات والسيرة الذاتية.</span></b> 
                <b class="py-1">4. متابعة حالة الطلب : <span>بعد تقديم طلبك، يمكنك تسجيل الدخول للموقع لمتابعة حالة الطلب والتحقق من القبول.</span></b> 
                <b class="py-1">5. تسجيل المقررات الدراسية : <span>يمكنك تسجيل المقررات الدراسية التي يتم دراستها في برامج الدبلومات المختلفة</span></b> 
            </form>
            
        
    </div>
</div>